@import '../../styles/variables';

.SearchPage {

  &-searchBox {
    display: flex;
    width: 40%;
    @include breakpoint-small {
      width: 100%;
    }

    margin-top: $base-unit * 2;
  }

  &-btn {
    flex: 0 0 auto;
    margin-left: $base-unit;

    border-radius: 0;
    background-color: $btn-bg-color;
    border: 1px solid $border-color;
  }

  &-input {
    flex: 1 1 auto;

    padding: $base-unit;
    border: 1px solid $border-color;
  }

  &-title {

  }

  &-subtitle {
    font-size: 0.8rem;
    color: $lighter-color;
  }

}
