@import '../styles/variables';

$cols: 10;

.ItemView {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;

  @include breakpoint-small {
    $grid-gutter: $base-unit * 2;
    margin: $grid-gutter ($grid-gutter / -2);

    > * {
      @include col(10);
      margin: $grid-gutter/2;
    }
  }

  @include breakpoint-medium {
    $grid-gutter: $base-unit * 3;
    margin: $grid-gutter ($grid-gutter / -2);

    > * {
      margin: $grid-gutter/2;
    }

    > :nth-child(1) {
      @include col(5);
    }

    > :nth-child(2) {
      @include col(5);
    }

    > :nth-child(3) {
      @include col(10);
    }
  }

  @include breakpoint-large {
    $grid-gutter: $base-unit * 4;
    margin: $grid-gutter ($grid-gutter / -2);

    > * {
      margin: $grid-gutter/2;
    }

    > :nth-child(1) {
      @include col(4);
    }

    > :nth-child(2) {
      @include col(4);
    }

    > :nth-child(3) {
      @include col(2);
    }
  }

}
